.bluemood{
    background-color:darkblue;

    .cell-0{ background-color: rgb(219, 242, 250);}
    .cell-1{background-color: rgb(7, 27, 114);}
    .cell-2{background-color: rgb(57, 124, 226);}
    .cell-3{background-color: rgb(163, 255, 247);}
}