@import 'skins/_default';
@import 'skins/_bluemood';

body{
    margin: 0;
}
.main-canvas{
    width: 100%;
    height: 100vh;

    .canvas-grid{
        margin: 0 auto 0 auto;
    }
}

@for $i from 0 through 3{
    .cell-#{$i} {
        float: left;
        width: 10px;
        height: 10px;
    }
}